/* General Styles
=============================*/
body {
    background: linear-gradient(#000 0%, #222 100%);
    height: 100vh;
    color: gray;
  }
  h1 {
    font-size: 60px;
    font-weight: bold;
  }
  /* Button Styles
  =============================*/
  .btn-success, .btn-info {
    border-width: 3px;
    background-color: rgb(45, 218, 53);
  }
  /* Header Styles
  =============================*/
  .pizza-logo {
    width: 100px;
    float: left;
  }
  .pizza-logo img {
    width: 100%;
    float:center;
  }
  /* Topping Styles
  =============================*/
  .topping-option-container {
    display: flex;
  }
  .pizza-image {
    position: relative;
    width: 200px;
  }
  .pizza-image img {
    width: 100%;
  }
  .pizza-toppings-container {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 66%;
  }
  #orderStarter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Hidden From Styles
  =============================*/
  #pizzaForm, .error, .pizza-image-container, .order-receipt {
    display: none;
  }
  .form-control {
    background-color: rgb(85, 88, 85);
    color: rgb(241, 82, 82);
    border: 3px solid #555;
    height: 60px !important;
  }
  .form-control:focus {
    background-color: rgba(255,255,255,.4);
    color: rgb(236, 75, 75);
  }
  /* Error Styles
  =============================*/
  .error {
    color: red;
    font-size: 14px;
  }
  .error-border {
    border-color: red;
  }
  /* Receipt Styles
  =============================*/
  .order-receipt .row{
    flex-direction: column;
  }
  .order-receipt ul {
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
  }
  
  .display-block {
    display: block !important;
  }
  /* Style the video: 100% width and height to cover the entire window
  ============================================ */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page
======================================================== */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 10%;
  padding: 5px;
}

/* Style the button used to pause/play the video 
==========================================*/
#myBtn {
  width: 3px;
  font-size: 1.3px;
  padding: 100px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}